@import url("reset.css");
@import url("commonStyle.css");
@import url("header.css");
@import url("visual.css");
@import url("footer.css");
/* -----------------------reset---------------------------------- */

/* -----------------------styling--------------------------------- */
/* -----------------------Common Style---------------------------- */

/* -----------------------styling--------------------------------- */
/* =======================header================================== */

/* =======================visual================================== */


/* =======================body================================== */	
#body{
	min-height: 600px;
	overflow: auto;
	margin-top: 30px;
}
	#body > .content-container{
		
	}
	
/* -----------------------aside----------------------------- */		
	#aside{
		min-height: inherit;
		width: 160px;
		padding-left: 30px; 
	}
		#aside h1{
			display: none;
		}
		#aside-menu > ul{
			display: flex;
			flex-direction: column;
		}
			#aside-menu > ul > li{
				flex-grow: 1;
				display: list-item;
				padding-bottom: 10px;
			}
				#aside-menu > ul > li > a{
					text-decoration: none;
					color: #000000;
					font-family: ¸¼Àº µ¸¿ò, µ¸¿ò, Arial, sans-serif;
					font-size: 15px;
				}
					#aside-menu > ul > li > a:hover{
						color: #FFBB00;
					}

/* -----------------------main----------------------------- */

	#main{
		flex-grow: 1;
		width: 800px;
		box-sizing: border-box;
		padding-left: 35px;
		padding-top: 25px;
	}
		#main > h1{
				display: none;
			}

/* -----------------------table----------------------------- */
			#notice-table{
				font-family: µ¸¿ò, Arial, sans-serif;
				font-size: 16px;
				color: #808080;
				font-weight: normal;
			}
				#notice-table > h1{
					display: none;
				}
					#notice-table .table{
						width: 100%;
						border-top: 2px solid #FFA648;
						margin-top: 10px;
						table-layout: fixed;
					}
						.table th{
							background: #EAEAEA;
							border-bottom: 1px solid #C6C6C6;
						}
						.table tr{
							height: 30px;
						}
							.table td{
								border-bottom: 1px solid #C6C6C6;
								text-align: center;
							}
						.table tbody > tr:first-child > td {
							text-align: left;
							text-indent: 10px;
						}
						
/* =======================footer================================== */

