@import url("reset.css");
@import url("commonStyle.css");
@import url("header.css");
@import url("visual.css");
@import url("footer.css");
/*-----reset--------------------------------------------*/
/* body{
	margin: 0px;
}

h1, h2, h3{
	display:none;
	margin: 0px;
}

footer{
	margin: 0px;
}
p{
	margin: 0px;
}

ul{
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

li{
	display: block;
}
 */
/*-----Common style------------------------------------------*/
/* .content-container {
	height: 100%;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix::after{
	content:".";
	height:0px;
	display: block;
	clear:left;
	overflow:hidden;
} */
.area-name{
	display: block;
}

.food-container{
	padding-top: 10px;
	border: 1px solid #ccc;
	height: 500px;
	width: 318px;
	margin: 0px;
	float: left;
	display:inline-block;
	text-align:center;
}
.hidden-head{
	display: none;
}

input[name="food-check"]{
	display: none;
}

.center-alignment{
	text-align: center;
}

/*-----styling------------------------------------------*/

/*-----#header style------------------------------------*/

/*-----#visual style---------------------------------------*/

/*-----#main-menu style------------------------------------*/
				
/*-----#body style------------------------------------*/					
#body{
	min-height: 600px;
	overflow: auto;
	margin-top: 30px;
}
	#cookable-recipe{
	height: 100px;
	border: 1px solid #ccc;
	text-align: center;
	}
	
		#cookable-recipe > ul {
		padding-top: 17px;
		overflow: auto;
		}
		
			#cookable-recipe > ul > li{
			float: left;
			padding-left: 30px;
			}
			
			#cookable-recipe > ul > li:first-child{
			padding: 0px;
			background: none; 
			}

	#food-cate{
	border: 2px solid #ccc;
	height: 50px;
	text-align: center;	
	}
		#food-cate > h1 {
			display: none;
		}
		#food-cate > form {
		padding-top: 17px;
		overflow:auto;
		}
		
		#food-cate > form > label{
		padding-right: 30px;
		}
		
		#food-cate > form > label:last-child{
		padding: 0px;
		background: none;
		}
	#food-service{
	text-align: center;		
	}	

 	.black-overlay{
		display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
	}
	.food-overlay{
		display: none;
        position: absolute;
        top: 25%;
        left: 15%;
        width: 600px;
        height: 500px;
        padding: 16px;
        border: 16px solid orange;
        background-color: white;
        z-index:1002;
        overflow: hidden;
	}
	
	.food-overlay section{
		text-align: center;

	}
	.food-overlay section h1{
		margin-bottom: 10px;
	}
	
	.food-overlay section div{
		width: inherit;
		height: inherit;
		margin-bottom: 20px;
	}
	
	.food-overlay section div input[type="text"]{
		width: 350px;
		height: 30px;
		font-size: 15px;
		line-height: 30px;
		padding: 0px 5px;
	}
	.food-overlay section ul{
		padding: 0px 15px;
		display: inline-flex;
		width: 550px;
		min-height: 400px;
		max-height: 400px;
		border: 2px solid #979797;
		font-family: 맑은 고딕, Arial;
		font-weight: bold;
		font-size: 15px;
	}
	
	.food-overlay section ul li{
		margin-right: 25px;
		margin-top: 15px;
	}
	.food-overlay section ul img{
		max-height: 10px;
		margin-left: 5px;
	}
	
	.food-container table {
		display: inline-table;
	}
	.food-container td {
		margin: 0px;
		padding: 0px;
	}
	
	.food-container td {
		width: 100px;
		height: 100px;
	}
	
	.food-container ul{
		position: relative;
	}
	
	.food-container ul li:first-child {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		position: absolute;
		text-align: center;
		line-height: 20px;
		font-size: 10px;
		font-weight: bold;
		color: white;
	}
	
	.food-container ul li img {
		max-width: 70px;
		max-height: 70px;
	}
/*-----#footer style------------------------------------*/
