@import url("reset.css");
@import url("commonStyle.css");
@import url("header.css");
@import url("visual.css");
@import url("footer.css");
/*-----reset--------------------------------------------*/
/* body{
	margin: 0px;
}

h1, h2, h3{
	display:none;
	margin: 0px;
}

footer{
	margin: 0px;
}
p{
	margin: 0px;
}

ul{
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

li{
	display: block;
}
 */
/*-----Common style------------------------------------------*/
/* .content-container {
	height: 100%;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix::after{
	content:".";
	height:0px;
	display: block;
	clear:left;
	overflow:hidden;
} */
.area-name{
	display: block;
}

.food-container{
	padding-top: 10px;
	border: 1px solid #ccc;
	height: 500px;
	width: 318px;
	margin: 0px;
	float: left;
	display:inline-block;
	text-align:center;
}
.hidden-head{
	display: none;
}

.food-check{
	display: none;
}

.center-alignment{
	text-align: center;
}

/*-----styling------------------------------------------*/

/*-----#header style------------------------------------*/

/*-----#visual style---------------------------------------*/

/*-----#main-menu style------------------------------------*/
				
/*-----#body style------------------------------------*/					
#body{
	min-height: 600px;
	overflow: auto;
	margin-top: 30px;
}
	#cookable-recipe{
	height: 100px;
	border: 1px solid #ccc;
	text-align: center;
	}
	
		#cookable-recipe > ul {
		padding-top: 17px;
		overflow: auto;
		}
		
			#cookable-recipe > ul > li{
			float: left;
			padding-left: 30px;
			}
			
			#cookable-recipe > ul > li:first-child{
			padding: 0px;
			background: none; 
			}
	#food-service{
	text-align: center;		
	}
	#food-cate{
	border: 2px solid #ccc;
	height: 50px;
	text-align: center;	
	}
		#food-cate > h1 {
			display: none;
		}
		#food-cate > form {
		padding-top: 17px;
		overflow:auto;
		}
		
		#food-cate > form > label{
		padding-right: 30px;
		}
		
		#food-cate > form > label:last-child{
		padding: 0px;
		background: none;
		}
		
	.food-container table {
		display: inline-table;
	}
	.food-container td {
		margin: 0px;
		padding: 0px;
	}
	
	.food-container td {
		width: 100px;
		height: 100px;
	}
	
	.food-container ul{
		position: relative;
	}
	.food-container ul li:first-child {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		position: absolute;
		text-align: center;
		line-height: 20px;
		font-size: 10px;
		font-weight: bold;
		color: white;
		
	}
/*-----#footer style------------------------------------*/
