@import url("reset.css");
@import url("commonStyle.css");
@import url("header.css");
@import url("visual.css");
@import url("footer.css");
/*-----reset--------------------------------------------*/

/*-----Common style------------------------------------------*/

/*-----styling------------------------------------------*/
/*-----#header style------------------------------------*/

/*-----#visual style---------------------------------------*/

/*-----#body style------------------------------------*/					
#body{
	min-height: 600px;
	width: 960px;
	display: flex;
	margin-top : 30px;
	margin-left: auto;
	margin-right: auto;
	background: #ececec;
	text-align: center;
}
.main-container{
	width: 590px;
	margin: 0px 10px;
}
	#daily-menu{
		border: 2px solid orange;
		background: white;
		margin-right: 15px;
		width: 580px;
		box-sizing: inherit;
		height: 600px;
		
	}
	#week-name{
		display: flex;
	}
	#week-name li{
		width: 82px;
		style: "word-break:break-all";
		border: 1px solid #000000;
		padding: 10px 0px;
	}
		
	
#table{
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
}
#table tr{
	padding: 0px;
	margin: 0px;
}
		
#table td{
	width: 82px;
	height: 90px;
	style: "word-break:break-all";
	border: 1px solid #000000;
	padding: 0px;
	margin: 0px;
}



.menu-container{	
	width : 140px;
	border: 2px solid orange;
	background: white;
	margin: 0px 5px;
	overflow: auto;
}
	.menu-container h4{
		font-size: 13px;
	}
		.menu-container li{
			font-size: 12px;
			
		}

	/* #cook{
			
		margin-right: 15px;
		height: 800px;
	}
	#recommend{
		border: 2px solid orange;
		background: white;	
		margin-right: 15px;
		height: 800px;
	}
	#bookmark{
		border: 2px solid orange;
		background: white;	
		height: 800px;
	} 
#calendar{
	border: 1px solid gray;
	table-layout: fixed;
	width: inherit;
} */
/*-----#footer style------------------------------------*/
