@import url("reset.css");
@import url("commonStyle.css");
@import url("header.css");
@import url("visual.css");
@import url("footer.css");
/*-----reset--------------------------------------------*/

/*-----Common style------------------------------------------*/
/* .content-container {
	height: 100%;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
}
.clearfix::after{
	content:".";
	height:0px;
	display: block;
	clear:left;
	overflow:hidden;
}	

.menu-container{
	width: 330px;
	height: auto;
	margin-right: 5px;
	margin-left: 5px;
}

.cook-container{
	width: 200px;
	height: auto;
	margin-right: 5px;	
}

.recommend-container{
	width: 200px;
	height: auto;
	margin-right: 5px;
}

.bookmark-container{
	width: 200px;
	height: auto;	
}
 */
/*-----styling------------------------------------------*/
/*-----#header style------------------------------------*/

/*-----#visual style---------------------------------------*/

/*-----#main-menu style------------------------------------*/
/* #main-menu {
	height: 80px;			
	margin-bottom: 20px;
	
}
		
	#main-menu > h1{
	display: none;
	}
	
	#main-menu .content-container{
	}
	
		#main-menu-list{
			text-align: center;
		}
	
	
			#main-menu-list > ul{
				overflow: auto;
				display: flex;
			}
		
		 		#main-menu-list > ul > li {
					flex-grow: 1;
					line-height: 80px;
				}
				
				#main-menu-list > ul > li:first-child{
					padding-left: 0;
					background: none;
				
				}
			
					#main-menu-list >ul > li > a{
						text-decoration: none;
						color: #000000;
						font-family: ¸¼Àº µ¸¿ò, µ¸¿ò, Arial, sans-serif; 
						font-size: 40px;
						font-weight: bold;
					}
					
					#main-menu-list >ul > li > a:hover{
						color: orange;	
					}
					 */
/*-----#body style------------------------------------*/					
#body{
	min-height: 800px;
	width: 960px;
	display: flex;
	margin-top : 20px;
	margin-left: auto;
	margin-right: auto;
	background: #ececec;
	text-align: center;
}

.menu-container{
	width : 600px;	

}

.cook-container{	
	width : 180px;
}

.recommend-container{
	width : 180px;	
}

.bookmark-container{	
	width : 180px;	
}

	#daily-menu{
		border: 2px solid orange;
		background: white;
		margin-right: 15px;	
		height: 800px;		
    	overflow-y:scroll;  
		
	}
	#cook{
		border: 2px solid orange;
		background: white;	
		margin-right: 15px;
		height: 800px;
	}
	#recommend{
		border: 2px solid orange;
		background: white;	
		margin-right: 15px;
		height: 800px;
	}
	#bookmark{
		border: 2px solid orange;
		background: white;	
		height: 800px;
	}
	
/*-----#footer style------------------------------------*/
