@import url("reset.css");
@import url("commonStyle.css");
@import url("header.css");
@import url("visual.css");
@import url("footer.css");
/*-----reset--------------------------------------------*/

/*-----Common style------------------------------------------*/

/*-----styling------------------------------------------*/
/*-----#header style------------------------------------*/

/*-----#visual style---------------------------------------*/

/*-----#food-cate style------------------------------------*/
	#food-cate{
	border: 2px solid #ccc;
	height: 50px;
	text-align: center;	
	}
		#food-cate > h1 {
			display: none;
		}
		#food-cate > form {
		padding-top: 17px;
		overflow:auto;
		}
		
		#food-cate > form > label{
		padding-right: 30px;
		}
		
		#food-cate > form > label:last-child{
		padding: 0px;
		background: none;
		}
			

					#main-menu-list >ul > li > a{
						text-decoration: none;
						color: #000000;
						font-family: ¸¼Àº µ¸¿ò, µ¸¿ò, Arial, sans-serif; 
						font-size: 40px;
						font-weight: bold;
					}
					
					#main-menu-list >ul > li > a:hover{
						color: orange;	
					} */

/*-----#main-food-list style------------------------------------*/
	#main-food {
		height: 100%; /* inherit */
		width: 960px;
		margin-left: auto;
		margin-right: auto;		
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;	
		text-align: center;	
	
}
		
	#main-food > h1{
		display: none;
	}
			#main-food-list{
				background: #ff5b5b;				
			}
		
			#main-food-list > ul{
				overflow: auto;
				display: flex;
			}
		
		 		#main-food-list > ul > li {
					flex-grow: 1;
					
				}
				
				#main-food-list > ul > li:first-child{
					padding-left: 0;
					background: none;
				
				}
			
					#main-food-list >ul > li > a{
						text-decoration: none;
						color: #ffffff;
						font-family: ¸¼Àº µ¸¿ò, µ¸¿ò, Arial, sans-serif; 
						font-size: 20px;
						font-weight: bold;
					}
					
					#main-food-list >ul > li > a:hover{
						color: black;	
					}


.main-food-container > h1{
	display: none;	
}


/*-----#body style------------------------------------*/					
#body{
	min-height: 600px;
	width: 960px;
	display: flex;
	margin-left: auto;
	margin-right: auto;	
	background: #ececec;
	overflow-y:auto;  
	
	
}
	#body > h1{
		display: none;
	}

	
	
.shopbag-container{
	width: 960px;
    height: 200px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    
}	

.table{
	margin: 20px;

}
	
#table-list{
	margin: 5px 0px;
	/* border: 1px solid #000000; */
}	
	#table-list tr{
		/* border-bottom: 1px solid #000000; */
	}
	#table-list tr:first-child {
		font-size: 20px;
		font-weight: bold;
		color: #696969;
		height: 30px;
	}
	#table-list tr:last-child{
		height: 20px;
	}
		#table-list ul{
			display: flex;
			flex-direction: row;
		}
			#table-list li{
				flex-grow: 1;
				padding: 0px 5px;
			}
	

		
/*-----#footer style------------------------------------*/
