/*-----reset--------------------------------------------*/
body{
	margin: 0px;
}

h1, h2, h3{
	display:none;
	margin: 0px;
}

footer{
	margin: 0px;
}
p{
	margin: 0px;
}

ul{
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

li{
	display: block;
}

/*-----Common style------------------------------------------*/
.content-container {
	height: 100%;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	text-align: center;	
}
.clearfix::after{
	content:".";
	height:0px;
	display: block;
	clear:left;
	overflow:hidden;
}	
.main-food-container {
	height: 50px;
	width: 960px;
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	
}
/*-----styling------------------------------------------*/

/*-----#header style------------------------------------*/
#header{
	height:50px;
	background: #ff8000;
}
	#header > .content-container{
		line-height: 50px;
		display: flex;
	}
	
	#logo{
		position: absolute;
		left: 0px;
		top: 10px;
				
	}
	#logo > img{
		width: 100%;
	}
		
	#finder{
		height: 25px;
		flex-grow: 1;
		text-align: center;
		position: absolute;
		right: 350px;
	}
			
		#finder > form{
			margin-top: 11px;
			height: 25px;
			display: flex;
			border: 3px solid #ff8000;
		}
		
		#finder input[type="text"]{
			flex-grow: 1;
			border: none;
			padding: 0px 5px;		
		}
		
		
		#finder input[type="submit"]{
			border: none;
			width:31px;
			height: 25px;
			text-indent: -999px;
			background: url("../images/btn-zoom.png") no-repeat center;
		}
			
	
	#user-menu{
		flex-grow: 1;
		right: 0px;
		position: absolute;
	}

	
		#user-menu > ul{
		overflow: auto;
		display: flex;
		}
		
		#user-menu > ul > li{
		padding-left: 10px;
		}
		
		#user-menu > ul > li:first-child{
		padding: 0px;
		background: none;
		}
		
			#user-menu > ul > li > a{
			text-decoration: none;
			color: #ffffff;
			font-family: ¸¼Àº °íµñ, °íµñ, Arial, sans-serif; 
			font-size: 15px;
			font-weight: bold;
			}
			
/*-----#visual style---------------------------------------*/

#visual {
	height: 3px;
	background: #bad968;
}

/*-----#main-menu style------------------------------------*/
#main-menu {
	height: 80px;			
	margin-bottom: 20px;
	
}
		
	#main-menu > h1{
	display: none;
	}
					
	
			#main-menu-list > ul{
				overflow: auto;
				display: flex;
			}
		
		 		#main-menu-list > ul > li {
					flex-grow: 1;
					line-height: 80px;
				}
				
				#main-menu-list > ul > li:first-child{
					padding-left: 0;
					background: none;
				
				}
			
					#main-menu-list >ul > li > a{
						text-decoration: none;
						color: #000000;
						font-family: ¸¼Àº µ¸¿ò, µ¸¿ò, Arial, sans-serif; 
						font-size: 40px;
						font-weight: bold;
					}
					
					#main-menu-list >ul > li > a:hover{
						color: orange;	
					}

/*-----#main-food-list style------------------------------------*/
	#main-food {
	height: 100%;
	margin-bottom: 20px;
	border-bottom: 3px solid #bad968;
}
		
	#main-food > h1{
	display: none;
	}
			#main-food-list{
				background: #ff8080;				
			}
		
			#main-food-list > ul{
				overflow: auto;
				display: flex;
			}
		
		 		#main-food-list > ul > li {
					flex-grow: 1;
					
				}
				
				#main-food-list > ul > li:first-child{
					padding-left: 0;
					background: none;
				
				}
			
					#main-food-list >ul > li > a{
						text-decoration: none;
						color: #ffffff;
						font-family: ¸¼Àº µ¸¿ò, µ¸¿ò, Arial, sans-serif; 
						font-size: 20px;
						font-weight: bold;
					}
					
					#main-food-list >ul > li > a:hover{
						color: black;	
					}

					
/*-----#body style------------------------------------*/					
#body{
	min-height: 800px;
	width: 960px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	
	
}
	
	
/*-----#footer style------------------------------------*/
#footer{
	height: 200px;
	background: #313131;
}