@import url("reset.css");
@import url("commonStyle.css");
@import url("header.css");
@import url("visual.css");
@import url("footer.css");
/*-----reset--------------------------------------------*/

/*-----Common style------------------------------------------*/

/*-----styling------------------------------------------*/
/*-----#header style------------------------------------*/

/*-----#visual style---------------------------------------*/

/*-----#food-cate style------------------------------------*/
	#food-cate{
	border: 2px solid #ccc;
	height: 50px;
	text-align: center;	
	}
		#food-cate > h1 {
			display: none;
		}
		#food-cate > form {
		padding-top: 17px;
		overflow:auto;
		}
		
		#food-cate > form > label{
		padding-right: 30px;
		}
		
		#food-cate > form > label:last-child{
		padding: 0px;
		background: none;
		}
			
/*-----#body style------------------------------------*/					
#body{
	min-height: 600px;
	width: 960px;
	display: flex;
	margin-left: auto;
	margin-right: auto;	
	background: #ececec;
	overflow-y:auto;  
}
	#body > h1{
		display: none;
	}
.table{
	margin: 20px;
}
	
#table-list{
	margin: 5px 0px;
	/* border: 1px solid #000000; */
}	
	#table-list tr{
		/* border-bottom: 1px solid #000000; */
	}
	#table-list tr:first-child {
		font-size: 20px;
		font-weight: bold;
		color: #696969;
		height: 30px;
	}
	#table-list tr:last-child{
		height: 20px;
	}
		#table-list ul{
			display: flex;
			flex-direction: row;
		}
			#table-list li{
				flex-grow: 1;
				padding: 0px 5px;
			}
	

		
/*-----#footer style------------------------------------*/
